body{

    margin: 0;
    padding: 0;
    height: auto;


}
img{
    width:170px;
    height:85px;
    margin-top: 20px;
    margin-left: 25px;
}
.sidebar {

    width: 350px;
    background-color: #83D9F8;
    height: auto;



}
.dark .sidebar{
    background-color:#e9b6cb;
}
.dark .inner_content{
    background-color: #accbeb;
}
.dark h1{
    background-color: #e9b6cb;
    color:gray ;
}



.sidebar ul {
    list-style-type: none;
    padding: 30px;
    height: auto;


}

.sidebar ul li {
    margin-bottom: 35px;
    font-size:20px;
}

.sidebar ul li ul {
    display: none;
    list-style-type: none;
    padding: 0;


}

.sidebar ul li ul li {
    margin-left: 15px;
    margin-bottom: 10px;
    height: auto;

}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    display: block;

}

.sidebar ul li a:hover {
    background-color: lightgray;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;


}

.form-group {
    margin: 5px;


}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    box-sizing: border-box;
    color: rgb(75, 72, 72);
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="file"],

select {

    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;

}

button[type="submit"] {
    padding: 10px 20px;
    background-color:rgb(183, 87, 103);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: rgb(100, 85, 88);
}



.main{

    display: flex;
    height: auto;
    background-color:#0c214e ;

}

.content{
    width: 100%;
    background-color:#F5F5F5;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.inner_content{
    margin: 20px;
    background-color:white ;
    height: auto;

}

h1{
    background-color: gray;
    height: 50px;
    margin-top: 0px;
    padding-left: 50px;
    color: white;

}

.form-group{
    padding-left: 20px;
    padding-bottom: 15px;
    display: inline-block;
    width: 500px;


}
.navbar {
    width: 100%;
    background-color:#C5D8E3;


}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.nav-item {
    margin-right: 30px;
    margin-left: 30px;
}

.nav-item:last-child {
    margin-right: 0;
}

.navbar-toggler {
    color: pink;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    background-color: red;
}

.nav-link {
    color: black;
}

.dropdown-menu {
    background-color:#89BEE2;
    color: #fefefe;
}

.dropdown-item {
    color: black;
    height: 35px;
}
.fas fa-user{
    padding-right: 7px;
}
.nav-item-dropdown{
    padding-top: 10px;
}
.add-patient-form{
    box-sizing: border-box;
}
h3{
    height: 15px;
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 2px;
    color:palevioletred;
}
.form-groups{
    display: flex;

}
.row{
    display: flex;
    justify-content: space-between;
}
#show-entries{
    width: 100px;
    height: 34px;
    margin-top: 0px;
}
#search{
    width: 700px;
    height: 35px;
    margin-top: 0px;


}
.container2{
    margin: 15px;
    margin-bottom: 0px;
}
th{
    text-decoration: none;
}
thead tr th {
    color:palevioletred;
    text-align: center;

}
.pagination{
    justify-content: flex-end;


}
.Pag {
    padding-top: 0px;
}
.pagination .page-link {
    color: palevioletred;
}

/* Change background color on hover */
.pagination .page-link:hover,
.pagination .page-link:focus {
    background-color: palevioletred;
    color: white; /* Ensuring text color remains visible on background */
}

#dbutton , #Tbutton{

    margin: 7px;

    width: 100px;
}
#donebutton{
    margin: 7px;

    width: 100px;
}

#dbutton , #Tbutton:hover{
    transform: scale(1.1);
}
.dbody{
    display: flex;
    justify-content: space-around;
}
table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: 100px;
    height: 400px;
    /*width:1000px;*/
    margin-left: 30px;
    border-color: blueviolet;
}
th, td {
    border: 1px solid purple;
    padding: 8px;
}
.card{
    margin: 10px;
    width: 400px;
    height: 500px;
}
th{
    width: 200px;
    background-color: whitesmoke;
    color: purple;
}
table td{
    width: 500px;
}

.check{
    width: 10px;
}
.Pbody{
    height: 500px;
    display: flex;
}
.Pbody table tr th{
    width: 50px;


}
.Pbody table tr{
    height: 10px;
    width: 400px;

}
.visits{
    width: 60%;
}


/* Modal styles */
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    border-radius: 10px;
}

button {
    cursor: pointer;
}

button:hover {
    text-decoration: none;
}
#confirmDelete{
    width: 100%;
    margin-bottom: 10px;
}
#cancelDelete{
    width: 100%;
}
.profile{
    margin: 30px;
    display: flex;
}
.profileData{
    margin: 30px;
}
h2{
    color: palevioletred;
}
.stable {
    border-collapse: collapse;
    width: 70%;
}

.sth, .std {
    text-align: left;
    padding: 2px;
}

.str:nth-child(even) {
    background-color: #D6EEEE;
    height: 80px;
}
.report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.report-photo {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.dbody {

    display: flex;

    flex-direction: column; /* Ensure content stacks vertically */

}

/* Optional: If you want to add some padding to the image */

.dbody img {

    padding-top: 10px;

    width: 50%;

}

table{

    border: none;

}
